@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-size: .14rem;
}

html,body,.box{
    width: 100%;
    height: 100%;
}

html{
    font-size: 625%;
}

a{
    text-decoration: none;
    color: #000;
}

em,i{
    font-style: normal;
}

ul li,ol li{
    list-style: none;
}

h1,h2,h3,h4,h5,h6,b,strong{
    font-weight: normal;
}

.box{
    display: flex;
    flex-direction:column;
}


@mixin qj{
    display: flex;
    justify-content:center;
    align-items:center;
}
header{
    width: 100%;
    height: .4rem;
    @include qj;
    color:#999;
    a{
        @include qj;
        color:#999;

        &:nth-child(1){
            flex:2;
        }
        &:nth-child(2){
            flex:6;
            height: .3rem;
            position:relative;
            input{
                width:100%;
                height:.25rem;
                border:none;
                border-radius:.5rem;
                background:#f0f1eb;
                outline: none;
                padding-left:.3rem;
            }
            i{
            position:absolute;
            left:.1rem;
            }
        }
        &:nth-child(3){
            flex:2;
            display: flex;
            flex-direction: column;
        }
    }
}
section{
    width: 100%;
    flex:1;
    overflow-y:scroll;
    background: #eee;
    .banner{
        width: 100%;
        img{
            width: 100%;
        }
    }
    .list{
        width: 100%;
        padding:.1rem;
        background: #fff;
        .swiper-slide{
            display: flex;
            flex-wrap: wrap;
            padding-bottom: .1rem;
            li{
                width: 20%;
                padding-top:.1rem;
                 @include qj;
                flex-direction: column;
                list-style: none;
               span{
                 width:100%;
                 text-align:center;
                 padding-top: .1rem;
                 font-size:.08rem;
                 color:#666;
               }
               i{
                    width: .4rem;
                    height: .4rem;
                    border-radius: 50%;
                    text-align: center;
                    line-height: .4rem;
                    font-size: .25rem;
                    color:#fff;
               }
            }
        }
    }
    .bot{
        margin-top: .1rem;
        background: #fff;
        display: flex;
        dl{
            flex:1;
            padding:.1rem;
            &:nth-child(1){
                border-right: .001rem solid #ccc;
                margin:.1rem 0;
                dt{
                    margin-top: .1rem;
                }
                dd{
                    h2{
                        font-size: .17rem;
                        color:#55a40f;
                        padding-bottom: .15rem;
                    }
                    p{
                        font-size: .13rem;
                        color:#999;

                    }
                }
            }
            &:nth-child(2){
                border-right: .001rem solid #ccc;
                margin:.1rem 0;
                dt{
                    margin-top: .1rem;
                }
                dd{
                    h2{
                        font-size: .17rem;
                        color:#ff4110;
                        padding-bottom: .15rem;
                    }
                    p{
                        font-size: .13rem;
                        color:#999;

                    }
                }
            }
            &:nth-child(3){
                border-right: .001rem solid #ccc;
                margin:.1rem 0;
                dt{
                    margin-top: .1rem;
                }
                dd{
                    h2{
                        font-size: .17rem;
                        color:#f742a0;
                        padding-bottom: .15rem;
                    }
                    p{
                        font-size: .13rem;
                        color:#999;

                    }
                }
            }
        }
    }
}